{
  "plugins": [
    "transform-class-properties",
    ["babel-plugin-styled-components", {
      "displayName": true
    }]
  ],
  "presets": ["react", "env"],
  "env": {
    "production": {
      "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["transform-object-rest-spread"]
      ]
    },
    "development": {
      "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["transform-object-rest-spread"]
      ]
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs"],
        ["transform-object-rest-spread"]
      ]
    }
  }
}