{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "react/prefer-stateless-function": 0,
    "linebreak-style": 0,
    "no-extend-native": 0
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true
  }
}