@import url('https://fonts.googleapis.com/css?family=Tajawal');

* {
    font-family: 'Tajawal', sans-serif;
}

#outCanvas {
    margin: 0 auto;
    display: block;
}

.ecg-result {
    word-break: break-all;
    text-align: left;
}
