@import url('https://fonts.googleapis.com/css?family=Tajawal');

* {
  font-family: 'Tajawal', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-heart-bit infinite 2s ease-in;
  color: #df3937;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {}

.App-intro {
  font-size: large;
}

@keyframes App-logo-heart-bit {
  50% { color: #ff6264; }
}

#outCanvas {
  margin: 15px;
}

.ecg-result {
  word-break: break-all;
  text-align: left;
}
